Package: science.xnu.injector
Name: Trust Cache Injector
Version: 0.4~b4
Architecture: iphoneos-arm
Description: Inject files to kernel trust cache
Maintainer: Sam Bingner <maintainer@sbdhi.com>
Author: Sam Bingner <maintainer@sbdhi.com>
Section: System
Tag: role::hacker
