Package: science.xnu.injector
Name: Injector
Version: 0.3
Architecture: iphoneos-arm
Description: Inject files to kernel trust cache
Maintainer: Sam Bingner <maintainer@sbdhi.com>
Author: Sam Bingner <maintainer@sbdhi.com>
Section: System
Tag: role::hacker
